Checks: '-*,
         bugprone-*,
         -bugprone-easily-swappable-parameters,
         cert-*,
         modernize*,
         -modernize-use-trailing-return-type,
         -modernize-avoid-c-arrays,
         -modernize-use-designated-initializers,
         performance
         '

# HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: 'Eigen|Eigen/Eigenvalues|eigen3/Eigen/Eigenvalues|sqlite3.h'
CheckOptions:
  - key: bugprone-narrowing-conversions.WarnOnIntegerNarrowingConversion
    value: false
  - key: bugprone-narrowing-conversions.WarnOnIntegerToFloatingPointNarrowingConversion
    value: false
