[submodule "libconfig"]
	path = libconfig
	url = https://github.com/mhekkel/libconfig.git
[submodule "date"]
	path = date
	url = https://github.com/HowardHinnant/date.git
[submodule "libpdbxpp"]
	path = libpdbxpp
	url = https://github.com/PDB-REDO/libpdbxpp.git
[submodule "libcifpp"]
	path = libcifpp
	url = https://github.com/PDB-REDO/libcifpp.git
