.vscode
node_modules
rsrc/version.txt
version-info*.txt
docroot/fonts
docroot/scripts
obj
obj.dbg
mini-ibs
make.config
docroot/css/google-font*.css
autom4te.cache/
GNUmakefile
config.status
config.log
aclocal.m4
dssp
*.dssp
src/config.hpp
src/config.hpp.in~
src/revision.hpp
mkdssp
msvc/x64/
.vscode/
.vs/

